.h1{
    text-align: center;
    color: #9613f4;
    font-family: 'Cursive';
    font-size: 5vh;
    font-weight: bold;
    padding-top: 10px;
    border: none;
}

.h2{
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    color: #c129f8;
    font-family: 'Cursive';
    font-size: 4vh;
    font-weight: bold;
    padding-top: 10px;
    border: none;
}

.p{
    text-align: center;
    display: flex;
    color: #9258bc;
    font-family: 'Cantarell';
    font-style: normal;
    font-size: 3.5vh;
    padding-top: 10px;
    border: none;
    margin-left: 20vw;
    margin-right: 20vw;
}

.pp{
    text-align: center;
    display: flex;
    color: #9258bc;
    font-family: 'Cantarell';
    font-style: normal;
    font-size: 2.5vh;
    border: none;
    margin-left: 20vw;
    margin-right: 20vw;
}

.img{
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: auto;
}