.header {
    background-color: #e5c7ff;
    color: #9613f4;
    border-bottom: 2px solid #c300ff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.menuOpen {
    list-style: none;
    background-color: #e591ff;
    transition: background-color 5ms ease;
    opacity: 1;
}

.logo {
    font-family: 'Cursive', sans-serif;
    font-size: 28px;
    color: #aa00ff;
    font-weight: bold;
    padding-bottom: 10px;
}

.logo:hover{
    color: #c956ec;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    transform: scale(1.2); 
    transition: all;
}

.open {
    list-style: none;
    display: flex; 
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
    border-radius: 0 0 10px 10px;
    transition: opacity 0.3s ease-in-out;
}

.open:hover{
    color: #f2c6ff;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    transition: all;
}

@media (min-width: 601px) {
    .menuIcon {
        display: none;
    }

    .lista {
        list-style: none;
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        visibility: visible;
        opacity: 1;
        gap: 15px;
        width: auto;
        background-color: transparent;
    }
}

@media (max-width: 600px) {
    .menuIcon {
        display: block;
    }

    .lista {
        list-style: none;
        display: flex;
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding-left: 15px;
        border-radius: 0 0 10px 10px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 5ms ease-in-out, visibility 0s;
    }

    .lista.open {
        visibility: visible;
        opacity: 1;
        flex-direction: row;
    }
}

.menuIcon {
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #9613f4; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.menuIcon:hover {
    color: #c300ff; 
    transform: scale(1.2); 
    transition: all;
}

.lista li {
    margin: 0 15px;
}

.lista a {
    text-decoration: none;
    font-size: 18px;
}

@media (min-width: 600px) {
    .lista {
        position: static;
        visibility: visible;
        opacity: 1;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
    }
}